<h1>Tag new</h1>
<div class="tag_form">
  <%= render 'shared/errors', object: @tag %>

  <%= form_for @tag do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.submit %>
  <%end%>
</div>
