<div class="comments">
  <% if @comments.present? %>
    <hr>
    <h2>Comments</h2>
    <div class="list">
      <% @comments.each do |comment| %>
        <div class="item"><%= simple_format(comment.text) %></div>
        <div class="author">
          Author:
          <% if comment.user.name %>
            <%= comment.user.name %>
          <% else %>
            <%= comment.user.email %>
          <% end %>
        </div>

        <div class="update_links">
          <% if current_user == comment.user and !comment.expires? %>
          <small><%= link_to 'Edit', edit_post_comment_path(post_id: @post.id, id: comment.id) %></small>
          <small><%= link_to 'Delete', post_comment_path(post_id: @post.id, id: comment.id), data: {method: :delete, confirm: 'Are you sure?'} %></small>
          <% end %>
        </div>

      <% end %>
    <div>
  <% end %>
  <% if current_user %>
  <h3>New comment</h3>
  <div class="comment_form">
    <%= form_for @comment, url: post_comments_path(post_id: @post.id) do |f| %>
      <%= f.label :text %><br>
      <%= f.text_area :text %><br>
      <%= f.submit %>
    <% end %>
  <% end %>
  </div>
<div>
