<h2><%= link_to post.name, post_path(post.id) %></h2>
<div class="update_links">
  <% if current_user == post.user %>
  <small><%= link_to 'Edit', edit_post_path(post.id) %></small>
  <small><%= link_to 'Delete', post_path(post.id), data: {method: :delete, confirm: 'Are you sure?'} %></small>
  <% end %>

  <div class="author">
    Author:
    <% if post.user.name %>
      <%= post.user.name %>
    <% else %>
      <%= post.user.email %>
    <% end %>
  </div>
</div>
<div class="annonce"><%= simple_format(post.annonce) %></div>
