<div class="post_form">
<%= form_for @post do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :annonce %><br>
  <%= f.text_area :annonce %><br>
  <%= f.label :text %><br>
  <%= f.text_area :text %><br>
  <%= f.label :created_time %><br>
  <%= f.text_field :created_at %><br>
  <%= f.submit %>
<%end%>
</div>
