<div class="post_form">
  <%= render 'shared/errors', object: @post %>

  <%= form_for @post do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :annonce %><br>
    <%= f.text_area :annonce %><br>
    <%= f.label :text %><br>
    <%= f.text_area :text %><br>
    <%= f.label :created_time %><br>
    <%= f.text_field :created_at %><br>

    <h3>Tags</h3>
    <select name="tags[]" multiple="multiple">
      <% @tags.each do |tag| %>
        <option
          value="<%= tag.id %>"

          <% if @tags_selected.include?(tag.id) %>
          selected="selected"
          <% end %>
        ><%= tag.name %></option>
      <% end %>
    </select>

    <%= f.submit %>
  <% end %>
</div>
